<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kopernik">
    <!-- x5声明的权限 -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.my.RealNameAuthenticationActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".ui.asset.UTDMAssetActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.asset.UTKAssetActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.asset.UTCAssetActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.asset.AssetTransformActivty"   android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.login.RegisterSetUpPasswordActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.setting.SkinActivity" />
        <activity android:name=".ui.Ecology.NodeLeaderBoardActivity"  android:screenOrientation="portrait" />
        <activity android:name=".ui.Ecology.ReferendumDetailsActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.Ecology.ReferendumListActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.setting.VerifyPwActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.Ecology.NodeAboutActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.setting.AddContactActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.setting.ContactActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.setting.QRCodeActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.asset.MapTimeLineActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.asset.MapActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.Ecology.RedeemTimeLineActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.Ecology.MyVoteHistoryActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.Ecology.ChooseNodeLogoActivity"  android:screenOrientation="portrait" />
        <activity android:name=".ui.Ecology.NodeRegisterActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.Ecology.VoteOperateActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.setting.ExportMnemonicSuccessActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.setting.ExportMnemonicActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.setting.ModifyPassActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.setting.ModifyNickActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.setting.SecurityActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.setting.InviteAddressActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.setting.VersionActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.my.AboutUsActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.my.SettingActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.my.ForgetTradePasswordNextActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.my.ForgetTradePasswordActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.my.GoogleVerifiedActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.my.InviteFriendsActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.my.InviteFriendsSecondActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.my.GoogleVerifyFirstStepActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.my.GoogleVerifySecondStepActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.my.GoogleVerifyActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.login.ForgetPasswordActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.Ecology.VoteBetActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.Ecology.WebViewActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.asset.WithdrawCoinActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.asset.DepositCoinActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.asset.CrossChainTxActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.asset.DepositCoinHistoryActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.asset.UYTAssetActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.asset.UYTTESTAssetActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.asset.DepositMoneyActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.asset.TransferActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.asset.ChoseCoinTypeActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.asset.TransferHistoryActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.login.RegisterActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.login.UserProtocolActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.login.ForgetPasswordNextActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.login.LoginActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.login.NoticeActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.mine.SynthetiseUTCActivity"   android:screenOrientation="portrait"/>
        <activity android:name=".ui.mine.PurchaseMiningMachineryActivity"   android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.MainActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.StartingWindowTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt"
            tools:ignore="MissingClass" /> <!-- 适配全面屏 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>